{{- $existingSecret := (lookup "v1" "Secret" .Release.Namespace .Values.secret.name) }}
{{- if not $existingSecret }}
{{- fail (printf "Secret '%s' not found in namespace '%s'. Please ensure the secret exists before installing this chart." .Values.secret.name .Release.Namespace) }}
{{- end }}
{{- $existingData := $existingSecret.data }}
{{- $gfPassword := get $existingData "GF_PASSWORD" }}
{{- $pgPassword := get $existingData "PG_PASSWORD" }}
{{- if not $gfPassword }}
{{- fail (printf "Secret '%s' is missing required key 'GF_PASSWORD'. Please add this key to the secret." .Values.secret.name) }}
{{- end }}
{{- if not $pgPassword }}
{{- fail (printf "Secret '%s' is missing required key 'PG_PASSWORD'. Please add this key to the secret." .Values.secret.name) }}
{{- end }}
---
# Grafana PostgreSQL user credentials
apiVersion: v1
kind: Secret
metadata:
  name: {{ index .Values "pg-db" "grafanaUserName" }}-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "pmm.labels" . | nindent 4 }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
type: Opaque
data:
  password: {{ $gfPassword | quote }}
---
# PMM PostgreSQL user credentials
apiVersion: v1
kind: Secret
metadata:
  name: {{ index .Values "pg-db" "pmmUserName" }}-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "pmm.labels" . | nindent 4 }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
type: Opaque
data:
  password: {{ $pgPassword | quote }}

