{{- if .Values.secret.create -}}
{{- $existingSecret := (lookup "v1" "Secret" .Release.Namespace .Values.secret.name) }}
{{- $existingData := dict }}
{{- if $existingSecret }}
{{- $existingData = $existingSecret.data }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secret.name }}
  labels:
    {{- include "pmm.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-15"
    {{- with .Values.secret.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
data:
# base64 encoded passwords and credentials
# encode some password: `echo -n "admin" | base64`
# to get PMM admin password: `kubectl get secret pmm-secret -o jsonpath='{.data.PMM_ADMIN_PASSWORD}' | base64 --decode`
# to get ClickHouse username: `kubectl get secret pmm-secret -o jsonpath='{.data.PMM_CLICKHOUSE_USER}' | base64 --decode`
# to get ClickHouse password: `kubectl get secret pmm-secret -o jsonpath='{.data.PMM_CLICKHOUSE_PASSWORD}' | base64 --decode`
# to get VictoriaMetrics username: `kubectl get secret pmm-secret -o jsonpath='{.data.VMAGENT_remoteWrite_basicAuth_username}' | base64 --decode`
# to get VictoriaMetrics password: `kubectl get secret pmm-secret -o jsonpath='{.data.VMAGENT_remoteWrite_basicAuth_password}' | base64 --decode`
  PMM_ADMIN_PASSWORD: {{ get $existingData "PMM_ADMIN_PASSWORD" | default (.Values.secret.pmm_password | default (randAlphaNum 32) | b64enc) | quote }}
  PMM_CLICKHOUSE_USER: {{ get $existingData "PMM_CLICKHOUSE_USER" | default (.Values.secret.clickhouse_user | default "clickhouse_pmm" | b64enc) | quote }}
  PMM_CLICKHOUSE_PASSWORD: {{ get $existingData "PMM_CLICKHOUSE_PASSWORD" | default (.Values.secret.clickhouse_password | default (randAlphaNum 32) | b64enc) | quote }}
  VMAGENT_remoteWrite_basicAuth_username: {{ get $existingData "VMAGENT_remoteWrite_basicAuth_username" | default (.Values.secret.victoriametrics_user | default "victoriametrics_pmm" | b64enc) | quote }}
  VMAGENT_remoteWrite_basicAuth_password: {{ get $existingData "VMAGENT_remoteWrite_basicAuth_password" | default (.Values.secret.victoriametrics_password | default (randAlphaNum 32) | b64enc) | quote }}
  PG_PASSWORD: {{ get $existingData "PG_PASSWORD" | default (.Values.secret.pg_password | default (randAlphaNum 32) | b64enc) | quote }}
  GF_PASSWORD: {{ get $existingData "GF_PASSWORD" | default (.Values.secret.gf_password | default (randAlphaNum 32) | b64enc) | quote }}
  {{- if or (get $existingData "GF_AUTH_GENERIC_OAUTH_CLIENT_ID") (.Values.secret.GF_AUTH_GENERIC_OAUTH_CLIENT_ID) }}
  GF_AUTH_GENERIC_OAUTH_CLIENT_ID: {{ get $existingData "GF_AUTH_GENERIC_OAUTH_CLIENT_ID" | default .Values.secret.GF_AUTH_GENERIC_OAUTH_CLIENT_ID | quote }}
  {{- end }}
  {{- if or (get $existingData "GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET") (.Values.secret.GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET) }}
  GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: {{ get $existingData "GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET" | default .Values.secret.GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET | quote }}
  {{- end }}
{{- end }}
