{{- $vminsertUrl := printf "http://%s-victoria-metrics-cluster-vmauth.%s.svc.cluster.local:8427/api/v1/write" .Release.Name .Release.Namespace -}}
---
# ConfigMap with the correct remoteWrite URL for manual configuration or scripts
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-vmagent-url
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: victoria-metrics-agent
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
data:
  remoteWriteUrl: {{ $vminsertUrl | quote }}
