{{- if hasKey .Values "systemUsers" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "psmdb-database.fullname" . }}-secrets
  namespace: {{ include "psmdb-database.namespace" . }}
  labels:
{{ include "psmdb-database.labels" . | indent 4 }}
type: Opaque
stringData:
{{ .Values.systemUsers | toYaml | indent 2 }}
{{- end -}}
