apiVersion: v2
name: common
description: A library chart for Everest containing common resources.
type: library
version: 0.0.8
appVersion: "0.0.3"
maintainers:
  - name: mayankshah1607
    email: mayank.shah@percona.com
  - name: oksana-grishchenko
    email: oksana.grishchenko@percona.com
  - name: recharte
    email: diogo.recharte@percona.com
  - name: michal-kralik
    email: michal.kralik@percona.com
