{{ $tls := fromYaml (include "everestOperator.tlsCerts" .) }}
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: everest-operator-validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    caBundle: {{ index $tls "ca.crt" }}
    service:
      name: everest-operator-webhook-service
      namespace: {{ include "everest.namespace" . }}
      path: /validate-enginefeatures-everest-percona-com-v1alpha1-splithorizondnsconfig
  failurePolicy: Fail
  name: vsplithorizondnsconfig-v1alpha1.enginefeatures.everest.percona.com
  rules:
  - apiGroups:
    - enginefeatures.everest.percona.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - splithorizondnsconfigs
  sideEffects: None
  objectSelector:
    matchExpressions:
    - key: everest.percona.com/skip-validating-webhook
      operator: NotIn
      values:
      - "true"
- admissionReviewVersions:
    - v1
  clientConfig:
    caBundle: {{ index $tls "ca.crt" }}
    service:
      name: everest-operator-webhook-service
      namespace: {{ include "everest.namespace" . }}
      path: /validate-everest-percona-com-v1alpha1-databaseclusterbackup
  failurePolicy: Fail
  name: vdatabaseclusterbackup-v1alpha1.everest.percona.com
  rules:
    - apiGroups:
        - everest.percona.com
      apiVersions:
        - v1alpha1
      operations:
        - CREATE
        - UPDATE
        - DELETE
      resources:
        - databaseclusterbackups
  sideEffects: None
  objectSelector:
    matchExpressions:
      - key: everest.percona.com/skip-validating-webhook
        operator: NotIn
        values:
          - "true"
- admissionReviewVersions:
    - v1
  clientConfig:
    caBundle: {{ index $tls "ca.crt" }}
    service:
      name: everest-operator-webhook-service
      namespace: {{ include "everest.namespace" . }}
      path: /validate-everest-percona-com-v1alpha1-databaseclusterrestore
  failurePolicy: Fail
  name: vdatabaseclusterrestore-v1alpha1.everest.percona.com
  rules:
    - apiGroups:
        - everest.percona.com
      apiVersions:
        - v1alpha1
      operations:
        - CREATE
        - UPDATE
        - DELETE
      resources:
        - databaseclusterrestores
  sideEffects: None
  objectSelector:
    matchExpressions:
      - key: everest.percona.com/skip-validating-webhook
        operator: NotIn
        values:
          - "true"
- admissionReviewVersions:
  - v1
  clientConfig:
    caBundle: {{ index $tls "ca.crt" }}
    service:
      name: everest-operator-webhook-service
      namespace: {{ include "everest.namespace" . }}
      path: /validate-everest-percona-com-v1alpha1-databasecluster
  failurePolicy: Fail
  name: vdatabasecluster-v1alpha1.everest.percona.com
  rules:
  - apiGroups:
    - everest.percona.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - databaseclusters
  sideEffects: None
  objectSelector:
    matchExpressions:
    - key: everest.percona.com/skip-validating-webhook
      operator: NotIn
      values:
      - "true"
- admissionReviewVersions:
    - v1
  clientConfig:
    caBundle: {{ index $tls "ca.crt" }}
    service:
      name: everest-operator-webhook-service
      namespace: {{ include "everest.namespace" . }}
      path: /validate-everest-percona-com-v1alpha1-monitoringconfig
  failurePolicy: Fail
  name: vmonitoringconfig-v1alpha1.everest.percona.com
  rules:
    - apiGroups:
        - everest.percona.com
      apiVersions:
        - v1alpha1
      operations:
        - CREATE
        - UPDATE
      resources:
        - monitoringconfigs
  sideEffects: None
  objectSelector:
    matchExpressions:
    - key: everest.percona.com/skip-validating-webhook
      operator: NotIn
      values:
      - "true"
- admissionReviewVersions:
    - v1
  clientConfig:
    caBundle: {{ index $tls "ca.crt" }}
    service:
      name: everest-operator-webhook-service
      namespace: {{ include "everest.namespace" . }}
      path: /validate-everest-percona-com-v1alpha1-loadbalancerconfig
  failurePolicy: Fail
  name: vloadbalancerconfig-v1alpha1.everest.percona.com
  rules:
    - apiGroups:
        - everest.percona.com
      apiVersions:
        - v1alpha1
      operations:
        - CREATE
        - UPDATE
        - DELETE
      resources:
        - loadbalancerconfigs
  sideEffects: None
  objectSelector:
    matchExpressions:
    - key: everest.percona.com/skip-validating-webhook
      operator: NotIn
      values:
      - "true"
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: everest-operator-mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    caBundle: {{ index $tls "ca.crt" }}
    service:
      name: everest-operator-webhook-service
      namespace: {{ include "everest.namespace" . }}
      path: /mutate-enginefeatures-everest-percona-com-v1alpha1-splithorizondnsconfig
  failurePolicy: Fail
  name: msplithorizondnsconfig-v1alpha1.enginefeatures.everest.percona.com
  rules:
  - apiGroups:
    - enginefeatures.everest.percona.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - splithorizondnsconfigs
  sideEffects: None
  objectSelector:
    matchExpressions:
    - key: everest.percona.com/skip-mutating-webhook
      operator: NotIn
      values:
      - "true"
- admissionReviewVersions:
  - v1
  clientConfig:
    caBundle: {{ index $tls "ca.crt" }}
    service:
      name: everest-operator-webhook-service
      namespace: {{ include "everest.namespace" . }}
      path: /mutate-everest-percona-com-v1alpha1-databasecluster
  failurePolicy: Fail
  name: mdatabasecluster-v1alpha1.everest.percona.com
  rules:
  - apiGroups:
    - everest.percona.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - databaseclusters
  sideEffects: None
  objectSelector:
    matchExpressions:
    - key: everest.percona.com/skip-mutating-webhook
      operator: NotIn
      values:
      - "true"
- admissionReviewVersions:
  - v1
  clientConfig:
    caBundle: {{ index $tls "ca.crt" }}
    service:
      name: everest-operator-webhook-service
      namespace: {{ include "everest.namespace" . }}
      path: /mutate-everest-percona-com-v1alpha1-dataimportjob
  failurePolicy: Fail
  name: mdataimportjobs-v1akpha1.everest.percona.com
  rules:
  - apiGroups:
    - everest.percona.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - dataimportjobs
  sideEffects: None
  objectSelector:
    matchExpressions:
    - key: everest.percona.com/skip-mutating-webhook
      operator: NotIn
      values:
      - "true"
---
apiVersion: v1
kind: Secret
metadata:
  name: webhook-server-cert
  namespace: {{ include  "everest.namespace" . }}
type: kubernetes.io/tls
data: 
  {{- range $key, $value := $tls }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
