apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ps-operator.fullname" . }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: service-account-{{ include "ps-operator.fullname" . }}-leaderelection
  {{- if .Values.watchNamespace }}
  namespace: {{ .Values.watchNamespace }}
  {{- end }}
  labels:
{{ include "ps-operator.labels" . | indent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  {{- if .Values.watchNamespace }}
  kind: ClusterRole
  {{- else }}
  kind: Role
  {{- end }}
  name: {{ include "ps-operator.fullname" . }}-leaderelection
subjects:
- kind: ServiceAccount
  name: {{ include "ps-operator.fullname" . }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: service-account-{{ include "ps-operator.fullname" . }}
  {{- if .Values.watchNamespace }}
  namespace: {{ .Values.watchNamespace }}
  {{- end }}
  labels:
{{ include "ps-operator.labels" . | indent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  {{- if .Values.watchNamespace }}
  kind: ClusterRole
  {{- else }}
  kind: Role
  {{- end }}
  name: {{ include "ps-operator.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "ps-operator.fullname" . }}
