{{- if and .Values.secret.create .Release.IsInstall -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secret.name }}
  {{- include "pmm.includeNamespace" . | nindent 2 }}
  labels:
    {{- include "pmm.labels" . | nindent 4 }}
  {{- with .Values.secret.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
# base64 encoded password
# encode some password: `echo -n "admin" | base64`
# to get the password on deployed cluster: `kubectl get secret pmm-secret -o jsonpath='{.data.PMM_ADMIN_PASSWORD}' | base64 --decode`
  PMM_ADMIN_PASSWORD: {{ include "pmm.password" .  }}
  {{- if .Values.secret.GF_AUTH_GENERIC_OAUTH_CLIENT_ID }}
  GF_AUTH_GENERIC_OAUTH_CLIENT_ID: {{ .Values.secret.GF_AUTH_GENERIC_OAUTH_CLIENT_ID }}
  {{- end }}
  {{- if .Values.secret.GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET }}
  GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: {{ .Values.secret.GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET }}
  {{- end }}
{{- end }}
