{{- if and .Values.secret.create .Release.IsInstall -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.certs.name }}
  namespace: {{ include  "pmm.namespace" . }}
  labels:
    {{- include "pmm.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
# ngnix ssl certificates
  {{- with .Values.certs.files }}
  {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
