apiVersion: v1
kind: Service
metadata:
  name: everest
  namespace: {{ include  "everest.namespace" . }}
  labels:
    app.kubernetes.io/name: everest
    app.kubernetes.io/component: everest
spec:
  selector:
    app.kubernetes.io/name: everest-server
    app.kubernetes.io/component: everest-server
  type: {{ .Values.server.service.type }}
  ports:
    - protocol: TCP
      port: {{ .Values.server.service.port }}
