{{- if .Values.pg }}
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: percona-postgresql-operator
  namespace: {{ .Release.Namespace }}
spec:
  channel: stable-v2
  installPlanApproval: Manual
  name: percona-postgresql-operator
  source: everest-catalog
  sourceNamespace: {{ $.Values.olm.namespace }}
  config:
    env:
    - name: DISABLE_TELEMETRY
      {{- if $.Values.telemetry }}
      value: "true"
      {{- else }}
      value: "false"
      {{- end }}
{{- end }}
