name: Release Charts

on:
  push:
    path-ignore:
      - 'charts/gcp-marketplace/**'
      - 'charts/everest/**'
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Remove skipped charts
        run: |
          rm -rf charts/everest

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4.2.0
        with:
          version: v3.15.4

      - name: Add Helm repositories
        run: |
          helm repo add haproxytech https://haproxytech.github.io/helm-charts/
          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
          helm repo add victoriametrics https://victoriametrics.github.io/helm-charts/
          helm repo add altinity https://helm.altinity.com
          helm repo add percona https://percona.github.io/percona-helm-charts/
          helm repo update

      - name: Build chart dependencies
        run: |
          helm dependency build charts/pmm-ha-dependencies
          helm dependency build charts/pmm-ha

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          skip_existing: true
