name: Lint, Unit and Test Charts

on: 
  pull_request:
    path-ignore:
    - 'charts/gcp-marketplace/**'
    - 'charts/everest/**'
    - 'charts/pmm-ha/**'
    - 'charts/pmm-ha-dependencies/**'

jobs:
  setup-test:
    runs-on: ubuntu-latest
    outputs:
      charts: ${{ steps.changed.outputs.charts }}
      changed: ${{ steps.changed.outputs.changed }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1
        with:
          version: v3.20.0

      - uses: helm/chart-testing-action@v2.6.1

      - id: changed
        run: |
          CHARTS=$(ct list-changed --config .github/ct.yaml)

          echo "Detected charts: $CHARTS"
          echo "charts=$CHARTS" >> $GITHUB_OUTPUT
          if [[ -n "$CHARTS" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

  unit-test:
    runs-on: ubuntu-latest
    needs: setup-test
    steps:
      - run: helm plugin install https://github.com/helm-unittest/helm-unittest >/dev/null

      - name: Run unit tests only on changed charts
        run: |
          CHARTS="${{ needs.setup-test.outputs.charts }}"
          if [ -z "$CHARTS" ]; then
            echo "No changed charts."
            exit 0
          fi

          for chart in $CHARTS; do
            echo "Running tests for $chart"
            helm unittest $chart --color
          done

  lint-test:
    runs-on: ubuntu-latest
    needs: setup-test
    steps:
      - uses: helm/chart-testing-action@v2.6.1

      - name: Run chart-testing (lint)
        run: ct lint --config .github/ct.yaml --lint-conf .github/lintconf.yaml --excluded-charts=everest,pmm-ha,pmm-ha-dependencies


  install-test:
    runs-on: ubuntu-latest
    needs: setup-test
    steps:
      - uses: helm/chart-testing-action@v2.6.1

      - name: Create kind cluster
        uses: helm/kind-action@v1.10.0
        # Only build a kind cluster if there are chart changes to test.
        if: needs.setup-test.outputs.changed == 'true'

      - name: Run chart-testing (install)
        run: |
          echo "Base branch is $GITHUB_BASE_REF"
          excluded_charts=("everest")
          OPERATOR_INSTALL=$(ct list-changed --config .github/ct.yaml | sed -E 's:charts/::' | awk '/(-db|-operator)$/ { sub(/-db$/, "-operator"); print }' | sort -u)

          if [ -n "$OPERATOR_INSTALL" ]; then
            for operator in $OPERATOR_INSTALL; do
              HELM_ARGS=()
              if [[ "$GITHUB_BASE_REF" == release-* ]]; then
                IMAGE_NAME=$(yq e '.operatorImageRepository // .image.repository' "charts/$operator/values.yaml" | awk -F/ '{print $NF}')
                HELM_ARGS=(
                  --set "image.repository=perconalab/$IMAGE_NAME"
                  --set "image.tag=main"
                  --set "operatorImageRepository=perconalab/$IMAGE_NAME"
                  --set "image=perconalab/$IMAGE_NAME:main"
                )
                echo "${HELM_ARGS[@]}"
              fi
              helm install --namespace default $operator charts/$operator/. --wait --debug "${HELM_ARGS[@]}"
              excluded_charts+=($operator)
            done
          fi

          ct install --config .github/ct.yaml --excluded-charts=$(IFS=,; echo "${excluded_charts[*]}")

          if [ -n "$OPERATOR_INSTALL" ]; then
            for operator in $OPERATOR_INSTALL; do helm uninstall --namespace default $operator; done
          fi

  post-test:
    runs-on: ubuntu-latest
    needs: 
      - lint-test
      - unit-test
      - install-test
    if: success()
    steps:
      - uses: helm/chart-testing-action@v2.6.1

      - name: Build chart package
        run: |
          changed=$(ct list-changed --config .github/ct.yaml)
          [ $(echo -n "$changed" | grep -c '^') == 1 ] && helm package $changed || echo "skipping package"

      - name: Upload helm chart
        uses: actions/upload-artifact@v4
        with:
          path: ./*.tgz
          retention-days: 30
          if-no-files-found: ignore
